.cardContainer{
    padding: 0.5em 1.5em;
    margin: 5px;
    border-radius: 5px;
    background-color: #fff;
    cursor: pointer;
    transition: all 0.3s ease;
}

.cardContainer:hover{
    padding: 0.6em 1.5em;
    margin: 7px 5px;
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.1);
}

.cardPreview{
    display: flex;
    flex-direction: row;
}

.cardContainer p{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 12em;
    min-width: 10em;
}

.cardExtended{
    height: 40em;
    transition: all 0.5s ease;
}
