.deviceListContainer{
    margin-top: 5em;
    overflow: auto;
}

.deviceList{
    overflow: auto;
    max-height: 60vh;
    min-height: 50vh;

}
.deviceList::-webkit-scrollbar {
    display: none;
  }